.header{
    margin-top: 4%;
    margin-right: 2%;
}

.product-link{
    float: right !important;
    font-weight: 600;
}

.content{
    margin-top: 5%;
    text-align: center;;
}

.user-text{
    font-size: larger;
    margin-left: 1%;
    font-weight: bold !important;
}