.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-eye {
    color: black !important;
}
.login-form{
    width: 40%;
}

.hidden{
    display: none !important;
}