body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Responsive design */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .container{
    display: block !important;
  }

  .login-form, .signup-form, .product-form{
    width: 100% !important;
  }
  .bigpara{
    display: none !important;
    height: 100px;
  }
  thead th {
      display: none;
  }

  td:first-child{
    display: none;
  }
  td {
      display: block;
  }

  td[data-th]:before  {
      content: attr(data-th);
  }
  td:nth-of-type(2):before { content: "Product Name : "; }
	td:nth-of-type(3):before { content: "Price : "; }
	td:nth-of-type(4):before { content: "Quantity : "; }
	td:nth-of-type(5):before { content: "Category : "; }
		td:nth-of-type(6):before { content: "Edit Product : "; }
	td:nth-of-type(7):before { content: "Delete Product : "; }
}

/* Add product */

.product-form{
  width: 40%;
}

/* header */

.login-link{
  color: rgba(0,0,0,.5) !important;
}
.icon{
  color: whitesmoke !important;
}

.link{
color: whitesmoke;
}


/* login header */

.icon-header i{
  color: black !important;
}

/* dashboard */

.header{
  margin-top: 4%;
}

.row{
margin: 0 !important;
}


.product-link{
  float: right !important;
  font-weight: 600;
}
.col{
  margin: 0;
}

.main-content h3{
 text-align: center;
 margin-top: 2px;
 margin-bottom: 2px;
}

.user-text{
  font-size: larger;
  margin-left: 1%;
  font-weight: bold !important;
}

/* Welcome Page */

p{
  font-weight: bold;
  line-height: 1.5 rem;
}

img{
  width:35%;
}

/* Login */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-eye {
  color: black !important;
}
.login-form{
  width: 40%;
}

.hidden{
  display: none !important;
}

/* Product List */

.card-deck{
  margin: 5%;
}

.notification {
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #007bff;
  border-color: #007bff;
  margin-left: 2%;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}


.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  font-size: 0.8rem;
}

/* Product detail */

.fa-pencil-square-o,.fa-trash-o{
  color: white !important;
}

/* Signup */
.signup-form {
  width: 50%;
}
